* {
    -selected-color: crimson;
    -highlight-color: lime;
}

.hex-grid {
    -fx-background-color: dodgerblue;
}

.hex-tile {
    -fx-shape: "m 280, 75 0, 150 -130, 75 L 20, 225 20, 75 150, -0 Z";
    -fx-border-color: burlywood;
    -fx-border-width: 5px;
}

.coordinate-label {
    -fx-font-size: 10px;
}

.selectable {
    -fx-stroke: -selected-color;
    -fx-border-color: transparent;
    -fx-border-width: 5px;
}

.hex-tile.selectable {
    -fx-border-color: -selected-color;
}

.selectable:hover,
.selectable:focus,
.selectable:focused,
.hex-tile.selectable:hover,
.hex-tile.selectable:focus {
    -fx-stroke: -highlight-color;
    -fx-border-color: -highlight-color;
}

.selectable.selected,
.selectable:selected {
    -fx-border-color: -selected-color;
}