.root {
    -border-colour: teal;
}

.red-box-label {
    -fx-font-size: 25px;
    -fx-border-color: -border-colour;
    -fx-border-width: 1px;
}

.hex-tile {
    -fx-shape: "m 280, 75 0, 150 -130, 75 L 20, 225 20, 75 150, -0 Z";
    -fx-border-color: burlywood;
    -fx-border-width: 5px;
}

.coordinate-label {
    -fx-font-size: 10px;
}

.title-text {
    -fx-font-size: 25px;
}

.label-text {
    -fx-font-size: 12px;
    -fx-font-color: teal;
    -fx-font-weight: bold;
}

.label-text {
    -fx-font-size: 14px;
    -fx-font-color: darkgrey;
}